{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">About Us</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien sit amet faucibus fermentum, enim turpis lacinia dolor, ac lacinia nulla leo vel justo.</p>
                    <p class="card-text">Nulla auctor orci et libero pretium, a lacinia quam fermentum. Mauris volutpat ligula ut nisi iaculis, vitae feugiat est vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
