{% extends 'layouts/base.html' %}
{% load static %}
{% block titile %} Books From DB  {% endblock %}

{% block content %}
<h1 class="text-center my-2 bg-primary">All Books</h1>

<div class="text-center">
    <a href="{% url 'books.create' %}" class="btn btn-dark my-4 mx-auto">Add New Book</a>
</div>
<table class="table table-hover table-striped my-2">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Pages</td>
        <td>Author</td>
        <td>Price</td>
        <td class="text-center">Image
        <td>SHOW</td>
        <td>DELETE</td>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.num_of_pages}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td class="text-center"><img width="200" height="200"
                                     src="{% static 'books/images/'|add:book.image %}"></td>
        <td><a class="btn btn-info" href="{{book.show_url}}">SHOW</a></td>
        <td><a class="btn btn-danger" href="{{book.delete_url}}">Delete</a></td>


    </tr>

    {% endfor %}


</table>

{% endblock %}