{% extends 'layouts/base.html' %}
{% load static %}
{% block titile %} Books From DB  {% endblock %}
book.createmodel
{% block content %}
<h1 class="text-center my-2 bg-primary">All Books</h1>

<div class="text-center">
    <a href="{% url 'books.create' %}" class="btn btn-dark my-4 mx-auto">Add New Book</a>
    <a href="{% url 'book.createmodel' %}" class="btn btn-primary">Add book via Form</a>
</div>
<table class="table table-hover table-striped my-2">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Pages</td>
        <td>Author</td>
        <td>Price</td>
        <td class="text-center">Image
        <td>SHOW</td>
        <td>DELETE</td>
        <td>Update</td>
        <td>Edit</td>


    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.num_of_pages}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td><img width="200" height="200" src="{{book.image_url}}"></td>
        <td><a class="btn btn-info" href="{{book.show_url}}">SHOW</a></td>
        <td><button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{book.id}}">
  delete
                </button></td>
        <td><a class="btn btn-primary" href="{{book.update_url}}">Update</a></td>
        <td><a class="btn btn-warning" href="{{book.edit_url}}">Edit</a></td>

    </tr>





    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal{{book.id}}" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure to Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{{book.delete_url}}">Delete</a>
      </div>
    </div>
  </div>
</div>












    {% endfor %}


</table>

{% endblock %}


