{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!--    {{book}}-->

<h2>Update Book</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="exampleInputTitle" value="{{book.title}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPages" class="form-label">Pages</label>
    <input type="text" class="form-control" name="pages" id="exampleInputPages" value="{{book.num_of_pages}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputAuthor" class="form-label">Author</label>
    <input type="text" class="form-control" name="author" id="exampleInputAuthor" value="{{book.author}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPrice" class="form-label">Price</label>
    <input type="text" class="form-control" name="price" id="exampleInputPrice" value="{{book.price}}">
  </div>
  <div class="mb-3">
    <label  class="form-label">Image</label>
    <input type="file" name="image" class="form-control" value="{{book.image}}">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}